{% extends 'layout.html' %}
{% block title %}Contacto{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles-contact.css')}}">
<div class="header-bio">
    <h1>Acerca de mi</h1>
</div>
<!-- <div class="photo">
    </div> -->
<div class="biography">
    <h2>Quien soy?</h2>
    <p>Soy un desarrollador de software, enfocado principalmente en el desarrollo de software con el lenguaje de <br>
       programación Python. <br> 
       Conozco diferentes tecnologías para el desarrollo de software y el desarrollo web. <br>
       Activamente productivo y con toda la actictud para seguir aprendiendo. 
    </p>
</div>
<h2>Tecnologias</h2>
<div class="skills">
    <div class="tec">
        <img src="{{url_for('static', filename='img/python_icon.png')}}" alt="Python">
    </div>
    <div class="tec">
        <img src="{{url_for('static', filename='img/javascript_icon.png')}}" alt="JavaScript">
    </div>
    <div class="tec">
        <img src="{{url_for('static', filename='img/java_icon.png')}}" alt="Java">
    </div>
    <div class="tec">
        <img src="{{url_for('static', filename='img/html_icon.png')}}" alt="HTML">
    </div>
    <div class="tec">
        <img src="{{url_for('static', filename='img/css_icon.png')}}" alt="CSS">
    </div>
    <div class="tec">
        <img src="{{url_for('static', filename='img/mysql_icon.png')}}" alt="MySQL">
    </div>
    <div class="tec">
        <img src="{{url_for('static', filename='img/git_icon.png')}}" alt="Git">
    </div>
    <div class="tec">
        <img src="{{url_for('static', filename='img/flask_icon.png')}}" alt="Flask">
    </div>
</div>
<div class="contact">

</div>
{% endblock %}