{% extends 'layout.html' %}

{%block body%}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles-index.css')}}">
<article>
    <section>
        <h1>Hello,<br>I'm Backend developer</h1>
    </section>
    <section>
        <!-- <div class="slider-box">
            <div class="slider">
                <ul>
                    <li><img src="{{url_for('static', filename='img/purpleBlog.png')}}" alt="purpleBlog"></li>
                    <li><img src="{{url_for('static', filename='img/Quizz.png')}}" alt="Quizz"></li>
                    <li><img src="{{url_for('static', filename='img/securityUniversity.png')}}" alt="securityUniversity"></li>
                    <li><img src="{{url_for('static', filename='img/catalogoWeb.png')}}" alt="catalogoWeb"></li>
                </ul>
            </div>
        </div> -->
    </section>
</article>
{% endblock %}